<header>
  <nav>
    <a href="/"
      ><img
        class="logo-icon"
        src="assets/mama-nature-text.svg"
        alt="Mama Nature Logo"
        width="200"
        height="50"
    /></a>
    <div class="nav-links">
      <a href="#menu">Menu</a>
      <a href="#gallery">Gallery</a>
      <a href="#jobs">Jobs</a>
      <a href="#about">About</a>
      <a href="#contact">Location</a>
      <a href="https://www.instagram.com/mama.nature.mne/" target="_blank"
        ><i class="fab fa-instagram"></i></a
      >
      <!-- <select class="language-selector" #languageSelect (change)="setLanguage(languageSelect.value)">
        <option value="en">EN</option>
        <option value="me">ME</option>
        <option value="ru">RU</option>
        <option value="no">NO</option>
      </select> -->
    </div>
    <button class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </nav>
  <div class="mobile-menu">
    <div class="mobile-menu-links">
      <a href="#menu">Menu</a>
      <a href="#gallery">Gallery</a>
      <a href="#jobs">Jobs</a>
      <a href="#about">About</a>
      <a href="#contact">Location</a>
      <a href="https://www.instagram.com/mama.nature.mne/" target="_blank"
        ><i class="fab fa-instagram"></i> Instagram</a
      >
      <!-- <select class="language-selector" #languageSelect (change)="setLanguage(languageSelect.value)">
        <option value="en">EN</option>
        <option value="me">ME</option>
        <option value="ru">RU</option>
        <option value="no">NO</option>
      </select> -->
    </div>
  </div>
  <div class="hero">
    <img
      class="logo-large"
      src="assets/mama-nature-icon.svg"
      alt="Mama Nature Icon Logo"
      width="300"
      height="300"
    />
    <h1>Welcome to Mama Nature</h1>
    <p>
      Organic Plant-based Restaurant by the Adriatic Sea(temporarily closed)
    </p>
  </div>
</header>

<router-outlet />

<section id="menu">
  <div class="container fade-in">
    <h2>Today's Specials</h2>

    <p class="centered">
      We have something new frequently on the menu. Today's Warm/Toplo and
      Today's Raw/Sirovo are special dishes that change according to the availability of our produce.
    </p>

    <div class="menu-grid stagger">
      <!-- <div class="menu-item">
        <h3>Today's Drink/Piće</h3> -->
      <!-- <img src="assets/drink.jpg" alt="Daily special drink" width="300" height="200" loading="lazy"> -->
      <!-- <p>Shake that changes with the days and seasons.</p>
      </div> -->
      <div class="menu-item">
        <h3>Today's Warm/Toplo</h3>
        <!-- <img src="assets/earth.jpg" alt="Daily special meal" width="300" height="200" loading="lazy"> -->
        <p>Savory meal that changes daily and follows seasons.</p>
      </div>
      <div class="menu-item">
        <h3>Today's Raw/Sirovo</h3>
        <!-- <img src="assets/soup.jpg" alt="Daily special soup" width="300" height="200" loading="lazy"> -->
        <p>
          Every day we have something new on our menu that is made with raw
          practices.
        </p>
      </div>
    </div>
  </div>

  <div class="container fade-in">
    <h2>Menu</h2>

    <p class="centered">
      We have something on our menu for everyone. From shakes to superfood
      lattes, porridge, hot drinks, juice, and desserts, we have a variety of
      delicious and healthy options to choose from.
    </p>

    <div class="menu-grid stagger">
      <div class="menu-item">
        <h3>Porridge / Kaša</h3>
        <img
          src="assets/porridge.jpg"
          alt="Different porridge varieties"
          width="300"
          height="200"
          loading="lazy"
        />
        <p>
          Apple Crumble<br />
          Chocolate Crunch<br />
          Wild Blueberry<br />
        </p>
      </div>

      <div class="menu-item">
        <h3>Desserts / Kolač</h3>
        <img
          src="assets/dessert.jpg"
          alt="Raw vegan desserts"
          width="300"
          height="200"
          loading="lazy"
        />
        <p>We have a selection of Raw Vegan Cakes and homemade ice cream</p>
      </div>
    </div>

    <div class="menu-grid stagger">
      <div class="menu-item">
        <h3>Shakes / Šejk</h3>
        <img
          src="assets/shake.jpg"
          alt="Selection of shakes"
          width="300"
          height="200"
          loading="lazy"
        />
        <p>
          Raspberry Coconut<br />
          Blueberry Coconut<br />
          Chocolate Vanilla<br />
          Green Power<br />
          Cosmic Power<br />
          Peanut Cinnamon<br />
        </p>
      </div>

      <div class="menu-item">
        <h3>Superfood Latte</h3>
        <img
          src="assets/matcha-latte.jpg"
          alt="Variety of superfood lattes"
          width="300"
          height="200"
          loading="lazy"
        />
        <p>
          Cacao Latte<br />
          Ashwaganda Latte<br />
          Carob Latte<br />
          Matcha Latte<br />
          Golden Latte<br />
          Chaga Reishi Latte<br />
        </p>
      </div>

      <div class="menu-item">
        <h3>Juice /Sokovi</h3>
        <img
          src="assets/green-detox.jpg"
          alt="Fresh juice selection"
          width="300"
          height="200"
          loading="lazy"
        />
        <p>
          Green Detox<br />
          Beet, Carrot, Mandarin<br />
          Organge, Apple, Celery<br />
          Apple, Spirulina<br />
          Mandarin, Apple, Beet<br />
          Orange, Carrot<br />
        </p>
      </div>
      <div class="menu-item">
        <h3>Hot Drinks / Topli Napici</h3>
        <img
          src="assets/chai.jpg"
          alt="Selection of hot drinks"
          width="300"
          height="200"
          loading="lazy"
        />
        <p>
          Chai Masala<br />
          Hot Chocolate<br />
          Coconut Cinnamon Vanilla Mylk<br />
          Karak Chai<br />
          Immune Booster<br />
        </p>
      </div>
    </div>
  </div>

  <div class="container fade-in">
    <h2>Tea & Coffee</h2>

    <p class="centered">
      We have a selection of teas and coffees to enjoy with your meal or on
      their own.
    </p>

    <p class="centered">
      Local herbal tea, various tea blends and organic coffee are available.
    </p>

    <div class="menu-grid stagger">
      <div class="menu-item">
        <h3>Coffee / Kafa</h3>
        <img
          src="assets/coffee.jpg"
          alt="Organic coffee preparation"
          width="300"
          height="200"
          loading="lazy"
        />
        <p>We prepare organic coffee using V60 equipment and slow pouring</p>
      </div>
      <div class="menu-item">
        <h3>Local Herbal Teas / Lokalni biljni čajevi.</h3>
        <img
          src="assets/herbal-tea.jpg"
          alt="Local herbal tea selection"
          width="300"
          height="200"
          loading="lazy"
        />
        <p>Mint, Nettle, Thyme, Sage, Chamomile, Linden, Calendula, Lavender</p>
      </div>
      <div class="menu-item">
        <h3>Tea Blends / Mješavine čajeva.</h3>
        <img
          src="assets/tea-blends.jpg"
          alt="Various tea blend options"
          width="300"
          height="200"
          loading="lazy"
        />
        <p>
          Jasmine Green Tea, Turmeric Ginger Lemongrass, Cinnamon Moringa
          Ginger, Peppermint Spear Mint, Rooibos, Ginger
        </p>
      </div>
    </div>
  </div>

  <div class="container fade-in">
    <h2>HomeMade Products</h2>

    <p class="centered">
      We have a selection of homemade products that are produced by Mama Nature.
    </p>

    <div class="menu-grid stagger">
      <div class="menu-item">
        <h3>All Raw, Vegan, Gluten-free, Sugar-free, 100% Organic</h3>
        <p class="centered">
          Dehydrated Crackers<br />
          Cheeses and Dips<br />
          Good Energy Bars<br />
          Coconut Milk<br />
          Musli<br />
          Cookies<br />
          Activated Nuts<br />
          Sprouted Buckwheat<br />
          Herbal toothpaste<br />
        </p>
      </div>
    </div>
  </div>
</section>

<section id="gallery" class="fade-in">
  <h2>Photo Gallery</h2>

  <div class="container">
    <div class="carousel">
      <button class="carousel-button prev">&lt;</button>
      <div class="carousel-container">
        <img
          src="assets/carousel/1.jpg"
          alt="Mama Nature Gallery Image 1"
          class="carousel-image active"
        />
        <img
          src="assets/carousel/2.jpg"
          alt="Mama Nature Gallery Image 2"
          class="carousel-image"
        />
        <img
          data-src="assets/carousel/3.jpg"
          alt="Mama Nature Gallery Image 3"
          class="carousel-image"
        />
        <img
          data-src="assets/carousel/4.jpg"
          alt="Mama Nature Gallery Image 4"
          class="carousel-image"
        />
        <img
          data-src="assets/carousel/5.jpg"
          alt="Mama Nature Gallery Image 5"
          class="carousel-image"
        />
        <img
          data-src="assets/carousel/6.jpg"
          alt="Mama Nature Gallery Image 6"
          class="carousel-image"
        />
        <img
          data-src="assets/carousel/7.jpg"
          alt="Mama Nature Gallery Image 7"
          class="carousel-image"
        />
        <img
          data-src="assets/carousel/8.jpg"
          alt="Mama Nature Gallery Image 8"
          class="carousel-image"
        />
        <img
          data-src="assets/carousel/9.jpg"
          alt="Mama Nature Gallery Image 9"
          class="carousel-image"
        />
        <img
          data-src="assets/carousel/10.jpg"
          alt="Mama Nature Gallery Image 10"
          class="carousel-image"
        />
        <img
          data-src="assets/carousel/11.jpg"
          alt="Mama Nature Gallery Image 11"
          class="carousel-image"
        />
        <img
          data-src="assets/carousel/12.jpg"
          alt="Mama Nature Gallery Image 12"
          class="carousel-image"
        />
        <img
          data-src="assets/carousel/13.jpg"
          alt="Mama Nature Gallery Image 13"
          class="carousel-image"
        />
        <img
          data-src="assets/carousel/14.jpg"
          alt="Mama Nature Gallery Image 14"
          class="carousel-image"
        />
        <img
          data-src="assets/carousel/15.jpg"
          alt="Mama Nature Gallery Image 15"
          class="carousel-image"
        />
        <img
          data-src="assets/carousel/16.jpg"
          alt="Mama Nature Gallery Image 16"
          class="carousel-image"
        />
      </div>
      <button class="carousel-button next">&gt;</button>
    </div>

    <p class="centered"><br>
      <a
      class="link"
      href="https://www.instagram.com/mama.nature.mne/"
      target="_blank"
      ><i class="fab fa-instagram"></i> See more on Instagram</a
    >
    </p>


  </div>
</section>

<section id="testimonials">
  <div class="container fade-in">
    <h2>Customer Testimonials</h2>

    <div class="stagger">
      <div class="testimonial">
        <p>
          “The raw cakes were enjoyable; fluffy and juicy. Overall, I recommend
          visiting Mama Nature for their delicious cakes and exceptional peach
          juice.” -
          <a href="https://maps.app.goo.gl/cUFYAu3DddZE37jh7" target="_blank"
            >Ludvig</a
          >
        </p>
      </div>

      <div class="testimonial">
        <p>
          “Just the best place to have a good organic meal, with an amazing
          human being who cooked for you.” -
          <a href="https://maps.app.goo.gl/QqoMjDuKJFNT3zf76" target="_blank"
            >Geoffrey TOUCHE</a
          >
        </p>
      </div>

      <div class="testimonial">
        <p>
          “Great food - high quality and great taste. The atmosphere is also
          unique, very calm and "un touristic" in a good way.” -
          <a href="https://maps.app.goo.gl/wGWCjoSA9uLvfV2Q7" target="_blank"
            >Kaya</a
          >
        </p>
      </div>

      <div class="testimonial">
        <p>
          “Absolutely amazing place to eat! Such a relief to find it here, in
          Bar. Delicious food, pleasant music and atmosphere, everything is
          perfect. Wish them all the best luck❤️” -
          <a href="https://maps.app.goo.gl/39Mks2tHeWKpHQqC6" target="_blank"
            >Алиса Пашпекина</a
          >
        </p>
      </div>
      <div class="testimonial">
        <p>
          “I'm completely impressed with the service, the atmosphere, the food
          is the best I've ever tried 👌🌱😋” -
          <a href="https://maps.app.goo.gl/bZG9gXYeJUeEHzSJ7" target="_blank"
            >Nataša Vukićević</a
          >
        </p>
      </div>
    </div>
  </div>
</section>

<!-- <section id="blog">
  <div class="container">
    <h2>Our Blog</h2>
    <p>Stay tuned for news, recipes, and events from Mama Nature!</p>
  </div>
</section> -->

<section id="jobs">
  <div class="container fade-in">
    <h2>Job openings</h2>

    <p class="centered">
      We have two job openings: <strong>Healthy Plant-based Chef</strong> &
      <strong>Restaurant Assistant</strong><br /><br />
    </p>

    <div class="container story fade-in">
      <div class="card">
        <h2>Position: Healthy Plant-based Chef</h2>
        <ul>
          <li>Daily Food and Drinks Preparation</li>
          <li>Supply Management</li>
          <li>Food presentation and decoration</li>
          <li>Pricing and Labeling</li>
          <li>Menu Management</li>
        </ul>

        <h3>Required Profile</h3>

        <ul>
          <li>Healthy Plant-based lifestyle</li>
          <li>
            Experience in plant-based restauration, healthy vegan and raw food
            preparation
          </li>
          <li>Kitchen organization skills</li>
          <li>Bilingual: English and Montenegrin (Extra + for Russian)</li>
        </ul>
      </div>

      <div class="card">
        <h2>Position: Restaurant Assistant</h2>
        <ul>
          <li>Restaurant House-keeping</li>
          <li>
            Assisting in supply management and preparation of ingredients for
            the menu
          </li>
          <li>
            Assisting in Drinks preparation and Homemade Products preparation
          </li>
          <li>Assisting in Pricing and Labeling of the shop items</li>
          <li>Internal daily accounting management</li>
        </ul>

        <h3>Required Profile</h3>

        <ul>
          <li>House-keeping Experience</li>
          <li>Organization skills</li>
          <li>Healthy Vegan or Ethical Vegetarian</li>
          <li>Basic Plant-based Food & Drinks preparation experience</li>
          <li>Basic accounting skills</li>
          <li>Bilingual: English and Montenegrin (Extra + for Russian)</li>
        </ul>
      </div>

      <h2>Why Work with Us?</h2>

      <ul>
        <li>To help us make Bar a healthier and more conscious town</li>
        <li>
          To inspire people to make better choices for their health and the
          environment
        </li>
        <li>
          To educate and raise awareness about the importance of a plant-based
          diet
        </li>
        <li>
          To remind people about what is real food and our connection to Mother
          Earth
        </li>
      </ul>

      <h2>About our Company</h2>

      <p>
        Mama Nature is an organic plant-based restaurant and store offering high
        quality delicious foods and drinks made with whole, unprocessed,
        gluten-free and sugar-free ingredients. We aim to be as local, seasonal,
        and eco-friendly as possible.
      </p>

      <p>
        Mama Nature’s mission is to offer and remind people about real food and
        our connection to Mother Nature, gather a conscious community around
        health and well-being, and inspire people to make better choices for
        themselves and for the environment.
      </p>

      <p>
        Working at Mama Nature is not for everyone. It requires individuals who
        have impeccable integrity, truthfulness, healthy life values, a growth
        mindset, a service mindset, who are solution-focused, and who have a
        great ability to go through challenges and issues in a positive manner.
      </p>

      <p>If you think you could be a fit:</p>

      <p>
        Send your Resume to
        <a href="mailto:mamanature.mne@gmail.com"
          >mamanature.mne&#64;gmail.com</a
        >
      </p>
    </div>
  </div>
</section>

<section id="about">
  <div class="container story fade-in">
    <h2>Our Story</h2>
    <p>
      In the heart of Bar, Montenegro, Mama Nature brings healing and nourishing
      plant-based cuisine to life. We celebrate the bounty of nature with
      locally sourced organic ingredients and conscious cooking.
    </p>
    <p>
      <img src="assets/myriam.jpg" alt="Myriam Bakhti" class="myriam" />
      Our Chef Myriam Bakhti, also known as Raw Mama Nature, have for many years
      taught online workshops on gourmet raw plant-based cuisine, and authored
      books like "Easy Recipies for Beginners", "The Raw Vegan Bread Book" and
      "Sweet Life".
    </p>
    <p>
      Myriam decided that it was time to open a restaurant where she could share
      her passion for healthy food with the world.
    </p>
    <p>
      If you already enjoy plant-based cuisine or are curious to try, we would
      love to cook for you.
    </p>
    <p>
      At Mama Nature, we offer a variety of services to enhance your dining
      experience. From private dining events to catering services, we are here
      to make your special occasions memorable. Our team is dedicated to
      providing exceptional service and creating a warm and welcoming atmosphere
      for all our guests.
    </p>
  </div>
</section>

<section id="contact">
  <div class="container fade-in">
    <h2>Visit Us</h2>
    <div class="contact-info">
      <p>
        <a
          class="link"
          href="https://maps.app.goo.gl/bDuU5szrQWwG9WfV7"
          target="_blank"
          ><i class="fas fa-map-marker-alt"></i> Maršala Tita, Bar 85000,
          Montenegro</a
        >
      </p>
      <!-- <p>📞 +382 123 456 789</p> -->
      <p>
        <i class="far fa-clock"></i> Tue-Sun: 09:00 - 18:00 (TEMPORARILY
        CLOSED!)
      </p>
      <p>
        <a class="link" href="mailto:mamanature.mne@gmail.com" target="_blank"
          ><i class="fa fa-envelope"></i> E-mail us</a
        >
      </p>
      <p>
        <a
          class="link"
          href="https://www.instagram.com/mama.nature.mne/"
          target="_blank"
          ><i class="fab fa-instagram"></i> Follow us on Instagram</a
        >
      </p>

      <img
        class="logo-large-dark"
        src="assets/mama-nature-icon.svg"
        alt="Mama Nature"
      />
    </div>
  </div>
</section>

<footer>
  <p>&copy; 2024-2025 Mama Nature | Organic Plant-based Restaurant</p>
</footer>