<header>
  <nav>
    <a href="/"
      ><img
        class="logo-icon"
        src="assets/mama-nature-text.svg"
        alt="Mama Nature Logo"
        width="200"
        height="50"
    /></a>
    <div class="nav-links">
      <a href="#menu">{{ 'header.nav.menu' | translate }}</a>
      <a href="#jobs">{{ 'header.nav.jobs' | translate }}</a>
      <a href="#about">{{ 'header.nav.about' | translate }}</a>
      <a href="#contact">{{ 'header.nav.contact' | translate }}</a>
      <a href="https://www.instagram.com/mama.nature.mne/" target="_blank"
        ><i class="fab fa-instagram"></i> {{ 'header.nav.instagram' | translate }}</a
      >
      <select class="language-selector" #languageSelect (change)="setLanguage(languageSelect.value)">
        <option value="en">EN</option>
        <option value="me">ME</option>
        <option value="ru">RU</option>
        <option value="no">NO</option>
      </select>
    </div>
    <button class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </nav>
  <div class="mobile-menu">
    <div class="mobile-menu-links">
      <a href="#menu">{{ 'header.nav.menu' | translate }}</a>
      <a href="#jobs">{{ 'header.nav.jobs' | translate }}</a>
      <a href="#about">{{ 'header.nav.about' | translate }}</a>
      <a href="#contact">{{ 'header.nav.contact' | translate }}</a>
      <a href="https://www.instagram.com/mama.nature.mne/" target="_blank"
        ><i class="fab fa-instagram"></i> {{ 'header.nav.instagram' | translate }}</a
      >
      <select class="language-selector" #languageSelect (change)="setLanguage(languageSelect.value)">
        <option value="en">EN</option>
        <option value="me">ME</option>
        <option value="ru">RU</option>
        <option value="no">NO</option>
      </select>
    </div>
  </div>
  <div class="hero">
    <img
      class="logo-large"
      src="assets/mama-nature-icon.svg"
      alt="Mama Nature Icon Logo"
      width="300"
      height="300"
    />
    <h1>{{ 'header.hero.welcome' | translate }}</h1>
    <p>
      {{ 'header.hero.description' | translate }}
    </p>
  </div>
</header>

<router-outlet />

<section id="menu">
  <div class="container fade-in">
    <h2>{{ 'menu.title' | translate }}</h2>

    <p class="centered">
      {{ 'menu.description' | translate }}
    </p>

    <div class="menu-grid stagger">
      <div class="menu-item">
        <h3>{{ 'menu.items.warm' | translate }}</h3>
        <p>{{ 'menu.items.warm_description' | translate }}</p>
      </div>
      <div class="menu-item">
        <h3>{{ 'menu.items.raw' | translate }}</h3>
        <p>{{ 'menu.items.raw_description' | translate }}</p>
      </div>
    </div>
  </div>

  <div class="container fade-in">
    <h2>{{ 'menu.title' | translate }}</h2>

    <p class="centered">
      {{ 'menu.description' | translate }}
    </p>

    <div class="menu-grid stagger">
      <div class="menu-item">
        <h3>{{ 'menu.items.porridge' | translate }}</h3>
        <img
          src="assets/porridge.jpg"
          alt="Different porridge varieties"
          width="300"
          height="200"
          loading="lazy"
        />
        <p>
          {{ 'menu.items.porridge_description' | translate }}
        </p>
      </div>

      <div class="menu-item">
        <h3>{{ 'menu.items.desserts' | translate }}</h3>
        <img
          src="assets/dessert.jpg"
          alt="Raw vegan desserts"
          width="300"
          height="200"
          loading="lazy"
        />
        <p>{{ 'menu.items.desserts_description' | translate }}</p>
      </div>
    </div>

    <div class="menu-grid stagger">
      <div class="menu-item">
        <h3>{{ 'menu.items.shakes' | translate }}</h3>
        <img
          src="assets/shake.jpg"
          alt="Selection of shakes"
          width="300"
          height="200"
          loading="lazy"
        />
        <p>
          {{ 'menu.items.shakes_description' | translate }}
        </p>
      </div>

      <div class="menu-item">
        <h3>{{ 'menu.items.superfood_latte' | translate }}</h3>
        <img
          src="assets/matcha-latte.jpg"
          alt="Variety of superfood lattes"
          width="300"
          height="200"
          loading="lazy"
        />
        <p>
          {{ 'menu.items.superfood_latte_description' | translate }}
        </p>
      </div>

      <div class="menu-item">
        <h3>{{ 'menu.items.juice' | translate }}</h3>
        <img
          src="assets/green-detox.jpg"
          alt="Fresh juice selection"
          width="300"
          height="200"
          loading="lazy"
        />
        <p>
          {{ 'menu.items.juice_description' | translate }}
        </p>
      </div>
      <div class="menu-item">
        <h3>{{ 'menu.items.hot_drinks' | translate }}</h3>
        <img
          src="assets/chai.jpg"
          alt="Selection of hot drinks"
          width="300"
          height="200"
          loading="lazy"
        />
        <p>
          {{ 'menu.items.hot_drinks_description' | translate }}
        </p>
      </div>
    </div>
  </div>

  <div class="container fade-in">
    <h2>{{ 'menu.title' | translate }}</h2>

    <p class="centered">
      {{ 'menu.description' | translate }}
    </p>

    <div class="menu-grid stagger">
      <div class="menu-item">
        <h3>{{ 'menu.items.coffee' | translate }}</h3>
        <img
          src="assets/coffee.jpg"
          alt="Organic coffee preparation"
          width="300"
          height="200"
          loading="lazy"
        />
        <p>{{ 'menu.items.coffee_description' | translate }}</p>
      </div>
      <div class="menu-item">
        <h3>{{ 'menu.items.herbal_teas' | translate }}</h3>
        <img
          src="assets/herbal-tea.jpg"
          alt="Local herbal tea selection"
          width="300"
          height="200"
          loading="lazy"
        />
        <p>{{ 'menu.items.herbal_teas_description' | translate }}</p>
      </div>
      <div class="menu-item">
        <h3>{{ 'menu.items.tea_blends' | translate }}</h3>
        <img
          src="assets/tea-blends.jpg"
          alt="Various tea blend options"
          width="300"
          height="200"
          loading="lazy"
        />
        <p>
          {{ 'menu.items.tea_blends_description' | translate }}
        </p>
      </div>
    </div>
  </div>

  <div class="container fade-in">
    <h2>{{ 'menu.title' | translate }}</h2>

    <p class="centered">
      {{ 'menu.description' | translate }}
    </p>

    <div class="menu-grid stagger">
      <div class="menu-item">
        <h3>{{ 'menu.items.homemade_products' | translate }}</h3>
        <p>
          {{ 'menu.items.homemade_products_description' | translate }}
        </p>
      </div>
    </div>
  </div>
</section>

<section id="image-carousel" class="fade-in">
  <h2>{{ 'carousel.title' | translate }}</h2>

  <div class="container">
    <div class="carousel">
      <button class="carousel-button prev">&lt;</button>
      <div class="carousel-container">
        <img
          src="assets/carousel/1.jpg"
          alt="Mama Nature Gallery Image 1"
          class="carousel-image active"
        />
        <img
          src="assets/carousel/2.jpg"
          alt="Mama Nature Gallery Image 2"
          class="carousel-image"
        />
        <img
          src="assets/carousel/3.jpg"
          alt="Mama Nature Gallery Image 3"
          class="carousel-image"
        />
        <img
          src="assets/carousel/4.jpg"
          alt="Mama Nature Gallery Image 4"
          class="carousel-image"
        />
        <img
          src="assets/carousel/5.jpg"
          alt="Mama Nature Gallery Image 5"
          class="carousel-image"
        />
        <img
          src="assets/carousel/6.jpg"
          alt="Mama Nature Gallery Image 6"
          class="carousel-image"
        />
        <img
          src="assets/carousel/7.jpg"
          alt="Mama Nature Gallery Image 7"
          class="carousel-image"
        />
        <img
          src="assets/carousel/8.jpg"
          alt="Mama Nature Gallery Image 8"
          class="carousel-image"
        />
        <img
          src="assets/carousel/9.jpg"
          alt="Mama Nature Gallery Image 9"
          class="carousel-image"
        />
        <img
          src="assets/carousel/10.jpg"
          alt="Mama Nature Gallery Image 10"
          class="carousel-image"
        />
        <img
          src="assets/carousel/11.jpg"
          alt="Mama Nature Gallery Image 11"
          class="carousel-image"
        />
        <img
          src="assets/carousel/12.jpg"
          alt="Mama Nature Gallery Image 12"
          class="carousel-image"
        />
        <img
          src="assets/carousel/13.jpg"
          alt="Mama Nature Gallery Image 13"
          class="carousel-image"
        />
        <img
          src="assets/carousel/14.jpg"
          alt="Mama Nature Gallery Image 14"
          class="carousel-image"
        />
        <img
          src="assets/carousel/15.jpg"
          alt="Mama Nature Gallery Image 15"
          class="carousel-image"
        />
        <img
          src="assets/carousel/16.jpg"
          alt="Mama Nature Gallery Image 16"
          class="carousel-image"
        />
      </div>
      <button class="carousel-button next">&gt;</button>
    </div>
  </div>
</section>

<section id="testimonials">
  <div class="container fade-in">
    <h2>{{ 'testimonials.title' | translate }}</h2>

    <div class="stagger">
      <div class="testimonial">
        <p>
          {{ 'testimonials.items.0.text' | translate }} -
          <a href="https://maps.app.goo.gl/cUFYAu3DddZE37jh7" target="_blank"
            >{{ 'testimonials.items.0.author' | translate }}</a
          >
        </p>
      </div>

      <div class="testimonial">
        <p>
          {{ 'testimonials.items.1.text' | translate }} -
          <a href="https://maps.app.goo.gl/QqoMjDuKJFNT3zf76" target="_blank"
            >{{ 'testimonials.items.1.author' | translate }}</a
          >
        </p>
      </div>

      <div class="testimonial">
        <p>
          {{ 'testimonials.items.2.text' | translate }} -
          <a href="https://maps.app.goo.gl/wGWCjoSA9uLvfV2Q7" target="_blank"
            >{{ 'testimonials.items.2.author' | translate }}</a
          >
        </p>
      </div>

      <div class="testimonial">
        <p>
          {{ 'testimonials.items.3.text' | translate }} -
          <a href="https://maps.app.goo.gl/39Mks2tHeWKpHQqC6" target="_blank"
            >{{ 'testimonials.items.3.author' | translate }}</a
          >
        </p>
      </div>
      <div class="testimonial">
        <p>
          {{ 'testimonials.items.4.text' | translate }} -
          <a href="https://maps.app.goo.gl/bZG9gXYeJUeEHzSJ7" target="_blank"
            >{{ 'testimonials.items.4.author' | translate }}</a
          >
        </p>
      </div>
    </div>
  </div>
</section>

<section id="jobs">
  <div class="container fade-in">
    <h2>{{ 'jobs.title' | translate }}</h2>

    <p class="centered">
      {{ 'jobs.description' | translate }}
    </p>

    <div class="container story fade-in">
      <div class="card">
        <h2>{{ 'jobs.positions.0.title' | translate }}</h2>
        <ul>
          <li>{{ 'jobs.positions.0.responsibilities.0' | translate }}</li>
          <li>{{ 'jobs.positions.0.responsibilities.1' | translate }}</li>
          <li>{{ 'jobs.positions.0.responsibilities.2' | translate }}</li>
          <li>{{ 'jobs.positions.0.responsibilities.3' | translate }}</li>
          <li>{{ 'jobs.positions.0.responsibilities.4' | translate }}</li>
        </ul>

        <h3>{{ 'jobs.positions.0.profile.title' | translate }}</h3>

        <ul>
          <li>{{ 'jobs.positions.0.profile.items.0' | translate }}</li>
          <li>{{ 'jobs.positions.0.profile.items.1' | translate }}</li>
          <li>{{ 'jobs.positions.0.profile.items.2' | translate }}</li>
          <li>{{ 'jobs.positions.0.profile.items.3' | translate }}</li>
        </ul>
      </div>

      <div class="card">
        <h2>{{ 'jobs.positions.1.title' | translate }}</h2>
        <ul>
          <li>{{ 'jobs.positions.1.responsibilities.0' | translate }}</li>
          <li>{{ 'jobs.positions.1.responsibilities.1' | translate }}</li>
          <li>{{ 'jobs.positions.1.responsibilities.2' | translate }}</li>
          <li>{{ 'jobs.positions.1.responsibilities.3' | translate }}</li>
          <li>{{ 'jobs.positions.1.responsibilities.4' | translate }}</li>
        </ul>

        <h3>{{ 'jobs.positions.1.profile.title' | translate }}</h3>

        <ul>
          <li>{{ 'jobs.positions.1.profile.items.0' | translate }}</li>
          <li>{{ 'jobs.positions.1.profile.items.1' | translate }}</li>
          <li>{{ 'jobs.positions.1.profile.items.2' | translate }}</li>
          <li>{{ 'jobs.positions.1.profile.items.3' | translate }}</li>
          <li>{{ 'jobs.positions.1.profile.items.4' | translate }}</li>
          <li>{{ 'jobs.positions.1.profile.items.5' | translate }}</li>
        </ul>
      </div>

      <h2>{{ 'jobs.why_work_with_us.title' | translate }}</h2>

      <ul>
        <li>{{ 'jobs.why_work_with_us.items.0' | translate }}</li>
        <li>{{ 'jobs.why_work_with_us.items.1' | translate }}</li>
        <li>{{ 'jobs.why_work_with_us.items.2' | translate }}</li>
        <li>{{ 'jobs.why_work_with_us.items.3' | translate }}</li>
      </ul>

      <h2>{{ 'jobs.about_company.title' | translate }}</h2>

      <p>
        {{ 'jobs.about_company.description.0' | translate }}
      </p>

      <p>
        {{ 'jobs.about_company.description.1' | translate }}
      </p>

      <p>
        {{ 'jobs.about_company.description.2' | translate }}
      </p>

      <p>{{ 'jobs.about_company.description.3' | translate }}</p>

      <p>
        {{ 'jobs.about_company.description.4' | translate }}
      </p>
    </div>
  </div>
</section>

<section id="about">
  <div class="container story fade-in">
    <h2>{{ 'about.title' | translate }}</h2>
    <p>
      {{ 'about.description.0' | translate }}
    </p>
    <p>
      <img src="assets/myriam.jpg" alt="Myriam Bakhti" class="myriam" />
      {{ 'about.description.1' | translate }}
    </p>
    <p>
      {{ 'about.description.2' | translate }}
    </p>
    <p>
      {{ 'about.description.3' | translate }}
    </p>
    <p>
      {{ 'about.description.4' | translate }}
    </p>
  </div>
</section>

<section id="contact">
  <div class="container fade-in">
    <h2>{{ 'contact.title' | translate }}</h2>
    <div class="contact-info">
      <p>
        <a
          class="link"
          href="https://maps.app.goo.gl/bDuU5szrQWwG9WfV7"
          target="_blank"
          ><i class="fas fa-map-marker-alt"></i> {{ 'contact.info.0' | translate }}</a
        >
      </p>
      <p>
        <i class="far fa-clock"></i> {{ 'contact.info.1' | translate }}
      </p>
      <p>
        <a class="link" href="mailto:mama.nature.mne@gmail.com" target="_blank"
          ><i class="fa fa-envelope"></i> {{ 'contact.info.2' | translate }}</a
        >
      </p>
      <p>
        <a
          class="link"
          href="https://www.instagram.com/mama.nature.mne/"
          target="_blank"
          ><i class="fab fa-instagram"></i> {{ 'contact.info.3' | translate }}</a
        >
      </p>

      <img
        class="logo-large-dark"
        src="assets/mama-nature-icon.svg"
        alt="Mama Nature"
      />
    </div>
  </div>
</section>

<footer>
  <p>{{ 'footer.text' | translate }}</p>
</footer>
